<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- HTML5 Shim ??? -->

    <link rel="alternate" type="application/rss+xml" title="Objectzilla" href="http://www.objectzilla.com.br/feed/" />
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
            {{ site.name }}, <span class="minor">por Leonardo Ver&iacute;ssimo da Silva</span>
          </a>
          <span class="pull-right hidden-phone">
            <a class="brand" href="/about.html">Sobre</a>
          </span>
        </div>
      </div>
    </div>

    <div class="container"> 
      {{ content }}
    </div>

    <hr>
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span6">
            <p>
              <strong>Leonardo Veríssimo da Silva</strong><br />
              &eacute; desenvolvedor s&ecirc;nior<br />
            </p>
          </div>
          <div class="span6">
            <p class="pull-right">
              <a href="http://github.com/leonardoverissimo/">github.com/leonardoverissimo</a><br />
            </p>
          </div>
        </div>
      </div>
    </div>
      
    <!-- Javascript -->
    

    </body>
</html>
